.card-block {
    min-height: 400px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

#card {
    color: black;
    background-color: black;
}

.welcome-header {
    font-size: 5rem;
    text-align: center;
    margin-top: 4rem;
}

.guide-desc {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.post-card {
    position: fixed;
    bottom: 0;
    left: 10%;
    right: 10%;
    max-width: 80%;
    height: 70%;
    margin: 0 auto;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    background-color: #343a40;
    border-radius: 20px 20px 0px 0px;
    color: #fff;
    overflow-y: auto;
    z-index: 1;
}

.close {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 50px;
    background: none;

}

.post-card.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}

.post-card input[type=text] {
    font-size: 20px;
}

.post-card .card-header {
    padding: 10px 20px;
    background-color: #212529;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.post-card .card-title {
    margin-top: 0;
    font-size: 40px;
}

.post-card .form-group label {
    margin-top: 10px;
    font-size: 24px;
    display: block;
    color: #fff;
}

.post-card .form-control {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    color: #495057;
}

.post-card textarea.form-control {
    font-size: 20px;
    resize: vertical;
    background-color: #f2f2f2;
    color: #495057;
}

.post-card .card-footer {
    background-color: #343a40;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px 20px;
}

.post-card .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.post-card .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.post-card .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.post-card .text-light {
    color: #f8f9fa;
}